    <footer class="footer">
        <div class="footer__wrapper">
            <div class="footer__wrapper_logo">
                &mdash;&mdash;&mdash; <img src="/img/logo.png" alt=""> &mdash;&mdash;&mdash;
            </div>
            <div class="footer__wrapper_title">
                WRO Dirks Application
            </div>
            <div class="footer__wrapper_desc">
                created by <a href="mailto: vyakovenko@dirks-group.de">Vladyslav Yakovenko</a>
            </div>
            <div class="footer__wrapper_desc footer__wrapper_desc-version">
                version {{version}}
            </div>
        </div>
    </footer>