<!DOCTYPE html>
<html lang="en">

{{> head}}
    
<body>
    
    <section class="promo">
        <div class="promo__error">

            <div class="promo__error_404">
                404
            </div>

            <div class="promo__error_desc">
                Niestety nie udało się znaleźć tej strony
            </div>
            
            <div class="promo_error_btn">
                <form action="/" method="get">
                    <button class="btn btn_active promo__error_btn">
                        Powrót do domu
                    </button>
                </form>
            </div>

        </div>
    </section>

</body>
</html>
