<!DOCTYPE html>
<html lang="en">

{{> head}}
    
<body>
    
    <section class="promo">
        <div class="promo__wrapper w3-animate-opacity">

            <div class="promo__logo">
                <a href="/">
                    <img src="/img/logo.png" alt="Logo Dirks">
                </a>
            </div>

            <div class="promo__header">
                <div class="promo__header_title ">
                    WRO DIRKS APP
                </div>
            </div>   

            <div class="promo__buttons">

                <form action="/login" method="get">
                    <button class="btn btn_active">
                        Logowanie
                    </button>
                </form>

                <form action="/register" method="get">
                    <button class="btn">
                        Rejestracja
                    </button>
                </form>

            </div>

        </div>
    </section>

</body>
</html>